<section class="editor">
  <aor-visual-editor
    [canvasOptions]="canvasOptions"
    [loading]="loading"
    [visualElements]="elements"
    [visorOptions]="visorOptions"
    (elementSelected)="onElementSelected($event)"
    (elementResized)="onElementResized($event)"
    (elementMoved)="onElementMoved($event)"
    (canvasClicked)="onCanvasClicked($event)">
    <aor-element-action-bar *aorElementActionBarDef="let element">
      <button mat-mini-fab aria-label="Delete element button" (click)="onClickDeleteAction(element)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Edit element button" (click)="onClickEditAction(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Duplicate element button" (click)="onClickDuplicateAction(element)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </aor-element-action-bar>
    <div *aorVisualEditorPlaceholderDef class="custom-placeholder">
      <mat-icon>refresh</mat-icon>
    </div>
  </aor-visual-editor>
</section>
