@use '@angular/material' as mat;

.editor {
  padding-right: 10px;
}

aor-visual-editor {
  height: 800px;
  overflow: hidden;
}


.delete-button {
  @include mat.icon-button-overrides((icon-color: #DC143C));
}

.edit-button {
  @include mat.icon-button-overrides((icon-color: #DAA520));
}

.clone-button {
  @include mat.icon-button-overrides((icon-color: #1E90FF));
}