:host {
  display: block;
}

.ls-visor {
  background-color: #fff;
  width: 100%;
  max-height: 1000px;
  position: relative;
}

.canvas {
  position: relative;

  &:active {
    cursor: grabbing;
  }
}