<div class="ls-visor" #visor (wheel)="zoom($event)">
  <div id="map" class="ls-map" #map>
    @for (element of mapObjects; track $index) {
      <aor-map-object
        cdkDrag
        [height]="element.size.height.toString()"
        [width]="element.size.width.toString()"
        [keepRatio]="element.keepRatio"
        (click)="selectElement(element.id)"
        (cdkDragMoved)="onDragMapObject($event, element)"
        (cdkDragStarted)="onDragStartMapObject($event, element)"
        cdkDragBoundary=".ls-map"
        class="ls-map-object"
        [ngClass]="{ selected: isElementSelected(element.id) }"
        [ngStyle]="{
          transform:
            'translate(' +
            element.position.x +
            'px, ' +
            element.position.y +
            'px) rotate(' +
            (element.rotation ?? 0) +
            'deg)',
          'transform-origin': 'center',
          'background-color': element.backgroundColor ?? 'transparent',
          'z-index': element.zIndex
        }">
        <div class="box"></div>
      </aor-map-object>
    }
  </div>
</div>
