:host {
  display: block;
}

.ls-visor {
  background-color: #fff;
  width: 100%;
  max-height: 1000px;
  position: relative;
}

.canvas {
  background-color: rgb(68, 140, 198);
  position: relative;

  &:active {
    cursor: grabbing;
  }

  .ls-map-object {
    position: absolute;
  }
}