:host {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2px;

  .handle {
    display: none;
    background-color: black;
    position: absolute;
    width: 10%;
    height: 10%;

    &.se {
      bottom: 0;
      clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
      cursor: se-resize;
      right: 0;
    }

    &.s {
      bottom: 0;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      cursor: s-resize;
      right: 50%;
    }

    &.e {
      bottom: 50%;
      cursor: e-resize;
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      right: 0;
    }
  }

  &.selected {
    border: 2px dashed black;

    .handle {
      display: block;
    }
  }
}