@use '@angular/material' as mat;

.main-container {
  height: 100%;
  width: 100%;

  .main-menu {
    padding-right: 2rem;

    li.menu-link {
      padding: 0.5rem;

      &.active-link {
        background-color: purple;
        color: purple;
      }

      a {
        color: white;
      }

    }
  }

  .main-content {
    height: 100%;

    header {
      @include mat.icon-button-overrides((icon-color: var(--mat-sys-primary)));
    }

    .page-content {
      padding: 1rem;
    }
  }
}