<mat-drawer-container hasBackdrop class="main-container">
  <mat-drawer #drawer mode="side" class="main-menu">
    <ul>
      <li class="menu-link" routerLinkActive="active-link">
        <a [routerLink]="[APP_ROUTE.VISUAL_EDITOR]">{{ 'Visual Editor' }}</a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <header>
      <button mat-icon-button color="primary" aria-label="Toggle menu sidenav" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </header>
    <main class="page-content">
      <router-outlet />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
